body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #6a6afa, #e8ecf1);
    color: #333;
}

.fa-solid {
    color: white;
    background: rgb(126, 153, 230);
    padding: 15px 20px;
    margin-bottom: 18px;
    border-radius: 12px;
    box-shadow: 0 5px 6px rgb(255, 255, 255);
}

nav {
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #555;
    font-weight: 600;
    transition: 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    color: #000;
    border-bottom: 2px solid #000;
}

.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    outline: 2px solid transparent;
    transition: outline 0.3s ease;
}

.container:hover {
    outline: 2px solid #f697d6;
}

h1 {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 10px;
    color: #222;
}

p {
    text-align: center;
    color: #555;
    margin-bottom: 40px;
    font-size: 1.05em;
}

.album-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.album-item {
    background-color: #fafafa;
    border-radius: 12px;
    overflow: hidden;
    width: 220px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    border: 1px solid #eee; /* Box Model */
}

.album-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.album-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #f697d6;
}

.album-item h2 {
    font-size: 1.1em;
    margin: 12px 0;
}

.album-item a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.3s ease;
}

.album-item a:hover {
    color: #f25db2;
}

footer {
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
    border-top: 1px solid #ccc;
    color: #333;
    margin-top: 40px;
}
