body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #6a6afa, #e8ecf1); 
    color: #333;
}

.fa-solid {
    color: rgb(255, 255, 255);
    background: rgb(126, 153, 230);
    padding: 15px 20px;
    margin-bottom: 18px;
    border-radius: 12px;
    box-shadow: 0 5px 6px rgb(255, 255, 255);
}

nav {
    background-color: #fff;
    border-bottom: 2px solid #ccc; /* Box Model */
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none; /* CSS List */
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #555;
    font-weight: 600;
    transition: 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    color: #000;
    border-bottom: 2px solid #000;
}

table {
    margin: 40px auto;
    border-collapse: collapse;
    width: 70%;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f3f4f6;
    color: #333;
}
td {
    color: #555;
}
footer {
    background-color: #f5f5f5;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
    border-top: 1px solid #ccc;
}
